
.body{
	width: 750rpx;
	background: #F4F4F4;
	padding-bottom: 40rpx;
	overflow: hidden;
	//导航样式
		//列表样式
		.list {
			width: 690rpx;
			// margin-left: 30rpx;
			// height: 720rpx;
			margin: 0 auto;
			margin-top: 28rpx;
			background: #FFFFFF;
			border-radius: 24rpx;
			position: relative;
			padding-bottom:24rpx ;
			.list_1 {
				position: absolute;
				left: 24rpx;
				top: 28rpx;
				font-family: PingFang SC;
				font-style: normal;
				font-weight: 500;
				font-size: 40rpx;
				z-index: 1;
			}
			.list_2 {
				position: absolute;
				top: 68rpx;
				left: 24rpx;
				width: 62rpx;
				height: 16rpx;
				background: #41D9CD;
				border-radius: 12rpx;
				z-index: 0;
			}
			.mar{
				height: 82rpx;
			}
			.list_3{
				width: 702rpx;
				height: 172rpx;
				margin-left: 24rpx;
				margin-top: 32rpx;
				display: flex;
				.list_3_1 {
					image{
						width: 172rpx;
						height: 172rpx;
						border-radius: 24rpx;
					}
				}
				.list_3_2 {
					margin-left: 22rpx;
					width: 280rpx;
					view:nth-child(1){
						font-family: Roboto;
						font-style: normal;
						font-weight: normal;
						font-size: 32rpx;
						color: #000000;
					}
					view:nth-child(2){
						view:nth-child(1){
							image{
								width: 20rpx;
								height: 18rpx;
								margin-left: 8rpx;
							}
							image:nth-child(1){
								margin-left: 0rpx;
							}
							text {
								margin-left: 16rpx;
								font-size: 18rpx;
								font-family: PingFang SC;
								font-style: normal;
								font-weight: normal;
								color:#666666;
							}
						}
					}
					view:nth-child(3) {
						margin-top: 10rpx;
						font-family: PingFang SC;
						font-style: normal;
						font-weight: normal;
						font-size: 36rpx;
 						color: #F2743F;
					}
					view:nth-child(4) {
						font-family: PingFang SC;
						font-style: normal;
						font-weight: normal;
						font-size: 36rpx;
						color: #F2743F;
					}
				}
				.list_3_3 {
					line-height: 172rpx;
					font-family: PingFang SC;
					font-style: normal;
					font-weight: normal;
					font-size: 24rpx;
					color: #999999;
					margin-left: 68rpx;
				}
			}
		}
}
